.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__category {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            overflow: auto; 
            li {
                border: 1px solid #F1F1F1;
                border-radius: 5px;
                padding: 10px;
                color: #359740;
            }
        }
    } 

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;

        &__card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid #F1F1F1;
            border-radius: 10px;
            padding: 15px;
        }

        &__card-img {
            width: 100%;
            height: 240px;
            background-color: #F1F1F1;

            img {
                width: 100%;
                height: 240px;
                object-fit: cover;
            }
        }

        &__card-shop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #F1F1F1;
                border-radius: 5px;
                background-color: #fff;

                .icon {
                    color: #359740;
                }

            }
        }
    }
}

.heart {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #FFCF55;
    font-size: 20px;
    border-radius: 50% !important;
}

.heart:hover {
    border: 1px solid #FFCF55 !important;
}

.stars {
    color: #FFCF55;
}


@media (max-width: 1310px) {
    .products__cards {
        grid-gap: 10px;
    }
}

@media (max-width: 1111px) {
    .products__cards {
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 810px) {
    .products__cards {
        // overflow: auto;
        grid-template-columns: repeat(2, 300px);
        // grid-template-rows: repeat(1,1fr);
    }
}


@media (max-width: 670px) {
    .products__cards {
        grid-gap: 30px;
        grid-template-columns: repeat(1, 300px);
    }
}

@media (max-width: 670px) {
    .products__cards {
        grid-gap: 30px;
        grid-template-columns: repeat(1, 260px);
    }
}