*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container{
  width: 100%;
  max-width: 1408px;
  padding: 0px 16px;
  margin: 0 auto;
}

button{
  cursor: pointer;
}